<div class="card mb-5 user-card">
  <%= gravatar_for(user, size: 150) %>
  <div class="card-body">
    <h5 class="card-title text-center">
      <b>Username:</b>
      <%= user.username %></h5>
    <div class="card-text text-center">
      <div>
        <b>Email:</b> <%= user.email %>
      </div>
      <div>
        <%= pluralize(user.articles.count, "article") %>
      </div>
    </div>
  </div>
  <div class="col-10 mb-2">
    <%= link_to "View profile", user, class: "btn btn-lg btn-outline-primary btn-lg" %>
    <% if is_owner?(user.id) %>
      <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-lg btn-outline-success btn-lg" %>
    <% end %>
    <% if logged_in? && current_user.admin? %>
      <%= link_to "Destroy profile", user_path(user), class: "btn btn-lg btn-outline-danger btn-lg", method: :delete, data: { confirm: "Are you sure, you want to delete the user and all their articles?"} %>
    <% end %>
  </div>
  <div class="card-footer">
    <small class="text-muted">Joined <%= time_ago_in_words(user.created_at) %> ago</small>
  </div>
</div>